/*********************************************************************************/
/* Donut                                                                         */
/*********************************************************************************/

.donut {
    margin: 20px;
  }

  circle {
    fill: none;
  }

  .circle-border {
    stroke: #e5e5e5;
    stroke-width: 1px;
  }

  .circle-back {
    stroke: #f2f2f2;
    stroke-width: 30px;
  }

  .circle-front {
    stroke: url(#quotaDonut__gradient);
    stroke-width: 30px;

    /* 2 * Math.PI * radius + 1  */
    stroke-dasharray: 629px;
    stroke-dashoffset: 629px;

    transition: stroke-dashoffset .5s ease;
  }

  .donut.three-quarter-filled .circle-front {
     /* 628 * (1 - 0.75) */
    stroke-dashoffset: 157px;
  }

  .donut.one-quarter-filled .circle-front {
     /* 628 * (1 - 0.25) */
    stroke-dashoffset: 471px;
  }

  .donut.half-filled .circle-front {
     /* 628 * (1 - 0.66667) */
    stroke-dashoffset: 314px;
  }

  .donut.almost-empty .circle-front {
    stroke-dashoffset: 600px;
  }
